body {
  background-image: linear-gradient(to right, #27ae60, #1abc9c);
}

#container {
  margin: 25px;
}

table tr > td {
 cursor: pointer; 
}

#login {
  height: calc(100vh - 50px);
  align-items: center;
}

#login, #tasks, #newTask, #task {
  display: flex;
  justify-content: center;
}

#newTaskContainer, #taskContainer {
  width: 50%;
  padding: 25px;
}

#newTaskButton {
  margin-left: 10px;
}

@media (max-width: 576px) { 
  #tasksContainer, #newTaskContainer, #taskContainer{
    width: 100%;
  }
}

@media (min-width: 576px) { 
  #loginFormContainer, #tasksContainer, #newTaskContainer, #taskContainer {
    width: 100%;
  }
}

@media (min-width: 768px) { 
  #loginFormContainer, #tasksContainer, #newTaskContainer, #taskContainer {
    width: 75%;
  }
}

@media (min-width: 992px) { 
  #loginFormContainer {
    max-width: 50%;
  }
}