body {
  background-image: linear-gradient(to right, #27ae60, #1abc9c);
}

#container {
  margin: 25px;
}

table tr > td {
 cursor: pointer; 
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
}

#tasks {
  display: flex;
  justify-content: center;
}

#newTaskButton {
  margin-left: 10px;
}

@media (min-width: 576px) { 
  #loginFormContainer, #tasksContainer {
    max-width: 100%;
  }
}

@media (min-width: 768px) { 
  #loginFormContainer, #tasksContainer {
    max-width: 75%;
  }
}

@media (min-width: 992px) { 
  #loginFormContainer {
    max-width: 50%;
  }
}